<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <h1><%= status %></h1>
        <h2><%= message %></h2>
    </body>
</html>
