<!DOCTYPE html>
<html>
    <head>
        <title><%= pageTitle %></title>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <h1>Form</h1>
        <form method="post" action="/form">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name"/><br/>
            <input type="submit"/>
            <input type="reset"/>
        </form>
    </body>
</html>
