<!DOCTYPE html>
<html>
    <head>
        <title><%= pageTitle %></title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>
        <h1>Welcome to the EJS View</h1>
    </body>
</html>
