<!DOCTYPE html>
<html>
    <head>
        <title><%= pageTitle %></title>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <h1>Welcome to the EJS View</h1>
        <p>This is in the layout</p>
        <%- include(`../${template}`) %>
        <p>This is end of the layout</p>
    </body>
</html>
